# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/

# Installers
pip-wheel-metadata/
*.egg-info/
dist/
build/
*.whl

# Pytest
.cache/
*.cover
.coverage
nosetests.xml
coverage.xml
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
